<!DOCTYPE html>
<html>
    <head>
        
        <title>VirtualRestorationTotalCostShowCaser</title>
        <script src="https://checkout.stripe.com/checkout.js" defer></script>

       <script>
            var stripeKey = '<%= clePublic %>'
        </script> 
        <script src="./donneArgent.js" defer></script>
        <meta charset="UTF-8">
    </head>

    <body>
        <p class="costPoid">le cout pour <%= poids%>kg est de <%= prixPoid %>€</p>
        <p class="costDist">le cout pour <%=distance%>km  est de <%= prixDist %>€</p>
        <p class="basicCost">le cout sans charge est de <%= prixSansFrais %>€</p>
        <p class="totalCost">le cout total pour la transaction est de <b class="cost"><%= prixTotal %></b> €</p>
            <button class="cardSelector" type="button">Payer</button>
        <p class="result"></p>
    </body>
</html> 
